# Игнорировать файлы сборки Gradle
.gradle/
build/
out/
bin/

# Игнорировать настройки IDE
.idea/
*.iml
*.ipr
*.iws

# Игнорировать кэш Gradle
.gradle

# Игнорировать локальные настройки Gradle
**/gradle.properties

# Игнорировать логи и результаты тестов
**/logs/
**/test-results/
**/reports/

# Игнорировать зависимости
**/lib/
**/libs/

# Игнорировать сгенерированные файлы
**/generated/

# Игнорировать файлы, специфичные для операционной системы
.DS_Store
Thumbs.db

# Игнорировать файлы, специфичные для пользователя
*.swp
*.swo
*~
node_modules/